# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.mypy_cache/
.pytest_cache/

# Build / packaging
build/
dist/
*.egg-info/

# Outputs and logs
outputs/
*.log

# Archives
*.tar.gz
*.zip
